<nav class="navbar navbar-expand-lg fixed-top modern-navbar">
  <div class="container">
    
    <a class="navbar-brand d-flex align-items-center" href="home">
      <img src="assets/logoEspulpa.png" alt="Logo" class="logo-img">
      <span class="brand-text ms-2">Espulpa</span>
    </a>

    <button 
      class="navbar-toggler border-0" 
      type="button" 
      (click)="toggleMenu()"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" [class.open]="!isMenuCollapsed"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="catalogo" >Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nosotros">Nosotros</a>
        </li>
     
<li class="nav-item ms-lg-3 mt-3 mt-lg-0">
  <a class="btn btn-primary btn-cta" routerLink="contacto">Contacto</a>
</li>

      </ul>
    </div>
  </div>
</nav>